<div class="d-flex justify-content-center align-items-center m-5">
  <table class=" table table-hover   ">
    <thead class="custom-thead">
      <tr>
        <th scope="col">#</th>
        <th scope="col">User</th>
        <th scope="col">Date</th>
        <th scope="col">View</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders, let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{ order.orderDetails?.fullName }}</td>
        <td>{{ order.createdOn }}</td>
        <td>
          <button class="btn btn-primary tabs-font-family"
                  [routerLink]="['/orders',order?.id]">
              View Details
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>