<div class="d-flex justify-content-center align-items-center" style="height: 400px;" *ngIf="loading" >
  <ng-lottie [options]="options" style="width: 200px; height: 200px;"></ng-lottie>
</div>

<div #content class="content" *ngIf="!loading">
  <div class="container-fluid">
    <div id="carouselExampleAutoplaying" class="carousel slide w-100" data-bs-ride="carousel">
      
      <div class="carousel-inner custom-carousel">
        <div 
          class="carousel-item" 
          *ngFor="let book of books$ | async; let i = index"
          [class.active]="i === 0">
          
          <div class="row d-flex justify-content-center align-items-center ps-5 pe-5">
            
            <div class="col-md-7 text-center">
              <img [src]="book.imgUrl" 
                   class="img-fluid rounded carousel-autoplay-img"
                   alt="{{ book.title }}">
            </div>
    
            <div class="col-md-5 d-flex flex-column align-items-start tabs-font tabs-font-family">
              <h3 class="mt-4">{{ book.title }}</h3>
              <p>{{ book.description }}</p>
              <button class="btn tabs-font tabs-font-family" [routerLink]="['/products/',book.id]">View More</button>
            </div>
          </div>
        </div>
      </div>
  
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon "></span>
      </button>
    </div>
  </div>
  <div class="mt-4 d-flex flex-column">
    
    <h1 class="text-center tabs-font-family">New Releases</h1>
  
      <div id="newReleasesCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner mt-4 ">

          <div class="" *ngIf="desktopView">
            <div class="carousel-item"
                *ngFor="let i of [0,1]; first as isFirstItem"
                [class.active]="isFirstItem">
              <div class="row g-5 justify-content-center ">
                <div class="col-md-2 pt-3"
                    *ngFor="let book of (books$ | async)?.slice(i*3, (i+1)*3)">
                  <product-card class="w-100"
                                [bookObj]="book"
                                [hideDescription]="true"
                                [clickAble]="true"
                                [showIcons]="true">
                  </product-card>
                </div>
              </div>
            </div>
          </div>

          <div class="" *ngIf="!desktopView">

            <div class="carousel-item"
                *ngFor="let book of (books$ | async); let i = index"
                [class.active]="i === 0">
              <div class="row justify-content-center m-4">
                <div class="col-10">
                  <product-card class="w-100"
                                [bookObj]="book"
                                [hideDescription]="true"
                                [clickAble]="true"
                                [showIcons]="true">
                  </product-card>
                </div>
              </div>
            </div>
          </div>

        </div>
        
      <button class="carousel-control-prev" type="button" data-bs-target="#newReleasesCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon red"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#newReleasesCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
</div>